<div class="row">
  <div class="col-md-6">
    <h6 class="font-weight-bold">Hours Worked This Pay Period</h6>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1><%= employee.total_hours_worked.to_f %> hours</h1>
    </div>
  </div>
</div>
