<% @employee.timesheet_entries.group_by { |entry| entry.started_at.to_date }.each do |date, entries| %>
  <div class="accordion-item">
    <h5 class="accordion-header"><%= date.strftime("%A, %B %d, %Y") %></h5>
    <% entries.sort_by(&:started_at).each do |timesheet_entry| %>
      <%= render partial: 'timesheet_entries/form', locals: { timesheet_entry: timesheet_entry } %>
    <% end %>
  </div>
<% end %>
