<h1>Editing tmail subscription</h1>

<%= render "form", tmail_subscription: @tmail_subscription %>

<br>

<div>
  <%= link_to "Show this tmail subscription", @tmail_subscription %> |
  <%= link_to "Back to tmail subscriptions", tmail_subscriptions_path %>
</div>
