<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <%= render "employee", employee: @employee, dom_id: dom_id(@employee) %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% if @employee.timesheet_entries.any? %>
    <% @employee.current_timesheet.each do |timesheet_entry| %>
      <%= render template: "timesheet_entries/show", employee: @employee %>
    <% end %>
  <% end %>
</div>
