<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <%= render "employee", employee: @employee, dom_id: dom_id(@employee) %>
    </div>
  </div>
</div>

<div class="container-fluid">
      <% if @employee.timesheet_entries.any? %>
  <% latest_entry = @employee.timesheet_entries.last %>
  <% if latest_entry.ended_at.nil? %>
    <p>You are currently clocked in.</p>
  <% else %>
    <p>You are currently clocked out.</p>
  <% end %>
<% else %>
  <p><%= @employee.first_name %> has no timesheet entries.</p>
<% end %>
  <% if @employee.timesheet_entries.any? %>
      <%= render template: "timesheet_entries/show", employee: @employee %>
  <% end %>
</div>
