<div class="container-lg text-center">
  <h1> archios </h1>
  <span class= "text-muted">Clock in with a quick text. </span>
</div>
<hr>
<div class="container-lg text-center">

  <%= button_to "Find your company", companies_path(@company), method: :get, class: "btn btn-success" %>

</div>
