<h1>Add your company</h1>
<h4 class="text-muted">Your co-workers will thank you.</h4>

<%= render "form", company: @company %>

<br>

<div>
  <%= link_to "Back to companies", companies_path %>
</div>
