<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/error.css">
</head>
<body>
  <div class="error-container">
    <h1>Oops!</h1>
    <h2>Don't worry, archios will make this go adios.</h2>
    <p>We've been notified about this issue and we'll take a look at it shortly.</p>
    <p><%= @error_message %></p>
    <a href="/" class="home-link">Return to Home</a>
  </div>
</body>
</html>
